@page
@model ProyectoG3.Web.Pages.SINPE.RegistrarModel

<h2>Registrar Pago SINPE</h2>

@if (TempData["Mensaje"] != null)
{
    <div class="alert alert-success">
        @TempData["Mensaje"]
    </div>
}

<form method="post">

    <div class="mb-3">
        <label>Teléfono Origen</label>
        <input asp-for="Sinpe.TelefonoOrigen" class="form-control" required />
    </div>

    <div class="mb-3">
        <label>Nombre Origen</label>
        <input asp-for="Sinpe.NombreOrigen" class="form-control" required />
    </div>

    <div class="mb-3">
        <label>Teléfono Destinatario</label>
        <input asp-for="Sinpe.TelefonoDestinatario" class="form-control" required />
    </div>

    <div class="mb-3">
        <label>Nombre Destinatario</label>
        <input asp-for="Sinpe.NombreDestinatario" class="form-control" required />
    </div>

    <div class="mb-3">
        <label>Monto</label>
        <input asp-for="Sinpe.Monto" type="number" class="form-control" required />
    </div>

    <div class="mb-3">
        <label>Descripción</label>
        <input asp-for="Sinpe.Descripcion" class="form-control" />
    </div>

    <br />

    <button type="submit" class="btn btn-success">Guardar</button>
    <a asp-page="/Index" class="btn btn-secondary">Volver</a>

</form>

