@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema Proyecto G3</h1>

    <hr />

    <a asp-controller="Caja" asp-action="Index" class="btn btn-primary">
        Ir a Cajas
    </a>

    <a asp-controller="Bitacora" asp-action="Index" class="btn btn-success">
        Ir a Bitácora
    </a>

    <a asp-controller="Sinpe" asp-action="Index" class="btn btn-warning">
        Ir a SINPE
    </a>
</div>