@page "{idComercio:int}"
@model ProyectoG3.Web.Pages.Cajas.RegistrarModel

<h2>Registrar Nueva Caja</h2>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

<form method="post">

    <input type="hidden" asp-for="Caja.IdComercio" />

    <div class="mb-3">
        <label class="form-label">Nombre:</label>
        <input asp-for="Caja.Nombre" class="form-control" required />
    </div>

    <div class="mb-3">
        <label class="form-label">Descripción:</label>
        <textarea asp-for="Caja.Descripcion" class="form-control" required></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">Teléfono SINPE:</label>
        <input asp-for="Caja.TelefonoSINPE"
               class="form-control"
               maxlength="10"
               pattern="[0-9]{8,10}"
               required />
    </div>

    <div class="mb-3">
        <label class="form-label">Estado</label>
        <select asp-for="Caja.Estado" class="form-control">
            <option value="true">Activo</option>
            <option value="false">Inactivo</option>
        </select>
    </div>

    <button type="submit" class="btn btn-success">
        Guardar Caja
    </button>

    <a asp-page="/Cajas/Index" asp-route-idComercio="@Model.IdComercio"
       class="btn btn-secondary">
        Volver
    </a>
</form>